<div class="all">
  <div class="container text-center">
    <!-- first row -->
    <div class="row">
      <app-nav-bar></app-nav-bar>
    </div>
    <!-- second row -->
    <div class="row">
      <div class="createContact">
        <button
          type="button"
          class="createNewContact list-group-item list-group-item-action bg-dark text-light"
          (click)="showPopup()"
        >
          Create new contact
        </button>
      </div>
    </div>

    <div class="row  {{ popupVisible }} ">
      <form>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="first"
            aria-describedby="emailHelp"
            placeholder="First name"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="last"
            placeholder="Last name"
          />
        </div>
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="postData($event)"
        >
          Save
        </button>
      </form>
    </div>
    <!-- <div>
    <router-outlet></router-outlet>
  </div> -->
    <!-- third row -->
    <div class="row contactList">
      <!-- <div *ngIf="users">
  <p>Page: {{ users.page }}</p>
  <p>Per Page: {{ users.per_page }}</p>
  <p>Total: {{ users.total }}</p>
  <p>Total Pages: {{ users.total_pages }}</p>
  
  <div *ngFor="let user of users.data">
    <p>ID: {{ user.id }}</p>
    <p>Email: {{ user.email }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <img [src]="user.avatar" alt="Avatar" />
  </div>
  </div>
</div> -->

      <div class="list-group p-2" *ngFor="let user of users.data">
        <button
          type="button"
          class="list-group-item list-group-item-action bg-dark text-light"
        >
          <img [src]="user.avatar" alt="Avatar" />
          {{ user.first_name }} {{ user.last_name }}
        </button>
      </div>
    </div>
  </div>
</div>
